$oldstd: 'Old Standard TT', serif;
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

$offblack: #1e1e1e;
$goldenrod: #daa520;
$gray0: #555;

$pRed: #EE2E24;
$pGold: #FFC423;
$pBlack: #231F20;


$tophat-bg: #1e1e1e;
$tophat-social: #333;
$tophat-social--hover: #000;
