@import "mixins";
@import "variables";
// Sass mixins libraries
@import "bourbon/bourbon";
@import "neat/neat";
// Base styles -- normalizes styles across browsers. 
// Alter border-sizing styles to prevent issues in P2P HTML stories
@import "normalize";
@import "fonts";

// $pGold: lighten(#daa520, 5);
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden; 
}
body {
	color: $offblack;
	font-size: 12px; // body-level font size for "em"-scaled designs
}
h1 {
	font-family: $montserrat;
}
p,a {
	font-family: $montserrat;
}
a {
	color: $pGold;
	text-decoration: none;
}
.container {
	position: relative;
	width: 100%;
	height: 400px;
	padding: 1em;
	background-color: #000;
	overflow: hidden;
	z-index: 2;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-image: url(http://data.baltimoresun.com/jin/p2p/preakness-2017/images/preakness.jpg);
		opacity: .4;
	}
}
.contenders {
	position: relative;
	width: 4000px;
	height: 100%;
	z-index: 2;
	&__card {
		position: relative;
		display: inline-block;
		width: 270px;
		height: 378px;
		margin: 0 2em 0 0;
		background-color: lighten($pGold, 30);
		box-shadow: 4px 4px 1px $pBlack;
		border-radius: 5px;
		vertical-align: top;
		&--title {
			// padding: 1em;
			background-color: $pBlack;
			background-size: cover;
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background-image: url(http://data.baltimoresun.com/jin/p2p/preakness-2017/images/title_display.jpg);
				background-color: $pBlack;
				box-shadow: inset 0 0 0 7px $pBlack;
				border-radius: 5px;
				z-index: 0;
			}
			&__detail {
				z-index: 2;
				&--headline {
					position: absolute;
					left: 20px;
					top: 0;
					height:100%;
					background: rgba($pBlack, .9);
					color: $pGold;
					text-transform: uppercase;
					text-align: center;
					h1 {
						padding: .9em .4em;
						line-height: 1.2em;
						margin: 0;
						font-family: $cousine;
						font-size: 2.5em;
						font-weight: bold;
						span {
							display: block;
							text-shadow: 2px 2px 3px $pRed;
						}
					}
				}
				&--subhead {
					position: absolute;
					bottom: 20px;
					right: 0;
					width: 100%;
					padding: 1em;
					background: rgba($pBlack, .9);
					z-index: 1;
					h1 {
						margin: 0 0 0 25%;
						color: $pGold;
						font-family: $montserrat;
						font-size: 2em;
						font-weight: bold;
						text-transform: uppercase;
						text-align: center;
						span {
							display: block;
							line-height: 1em;
							&:last-child {
								font-size: 3em;
							}
						}
					}
				}
				&--logo {
					position: absolute;
					top: 5px;
					right: 5px;
					width: 60%;
					padding: .5em;
					img {
						width: 100%;
						margin: 0 auto;
					}
				}
			}
		}
		&__detail {
			margin: .5em;
			padding: .3em;
			border-radius: 5px;
			p {
				padding: 0;
				margin: 0;
				font-family: $montserrat;
				text-transform: uppercase;
			}
			&--namePlate {
				padding: .1em 0;
				margin: 0;
				font-size: 1.5em;
				text-transform: uppercase;
				background-color: $pGold;
				// border-top: 3px solid $pGold;
				// border-bottom: 3px solid $pGold;
				border-radius: 5px 5px 0 0;
				p {
				}
				.pp {
					display: inline-block;
					padding-right: .5em;
					border-radius: 0 20px 20px 0;
					background-color: $pBlack;
					color: white;
					.ppNum {
						color: $pRed;
						font-weight: bold;
					}
				}
				.horse {
					display: inline-block;
					font-weight: bold;
				}
			}
			&--odds {
				background-color: $pBlack;
				color: $pRed;
				p {
					text-align: center;
				}
				.odds {
					color: white;
					font-size: 1.2em;
				}
				.oddsNum {
					font-size: 2.5em;
					font-weight: bold;
				}
			}
			&--bio {
				p {
					text-align: center;
				}
				.bioSubject {
					margin-top: .5em;
					color: $pRed;
					&:first-child {
						margin-top: 0;
					}
				}
				.bioContent {
					font-weight: bold;
					span {
						font-weight: normal;
					}
				}
			}
			&--notes {
				position: absolute;
				bottom: 0;
				background-color: $pBlack;
				color: white;
				p {
					margin: .3em;
					font-weight: normal;
					span {
						color: $pRed;
						font-weight: bold;
					}
				}
			}
		}
	}
}
.sliderButton {
	position: fixed;
	bottom: 5px;
	right: 10px;
	font-size: 4em;
	color: $pGold;
	cursor: pointer;
	z-index: 3;
	i {
		text-shadow: 3px 3px 2px $pBlack;			
	}
	&--next {
		animation: pointRight 1s infinite;
		&:hover {
			animation-play-state: paused;
		}
	}
}


@keyframes pointRight {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-10px);
	}
}